<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BasculaCorteSection" type="SuKarne.Controls.Bascula.BasculaCorteSection, SuKarne.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="TermometroCorteSection" type="SuKarne.Controls.Bascula.BasculaCorteSection, SuKarne.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="BasculaReimplanteSection" type="SuKarne.Controls.Bascula.BasculaCorteSection, SuKarne.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="RFIDCorteSection" type="SuKarne.Controls.Bascula.BasculaCorteSection, SuKarne.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIE.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <BasculaCorteSection nombre="basculaCorte" puerto="COM2" baudrate="9600" databits="7" paridad="None" bitstop="One" valueNum="5" />
  <TermometroCorteSection nombre="termometroCorte" puerto="COM5" baudrate="9600" databits="8" paridad="None" bitstop="One" valueNum="5" />
  <BasculaReimplanteSection nombre="basculaReimplante" puerto="COM4" baudrate="9600" databits="7" paridad="None" bitstop="One" valueNum="5" />
  <RFIDCorteSection nombre="rfidCorte" puerto="COM3" baudrate="9600" databits="8" paridad="None" bitstop="One" valueNum="5" />
  <connectionStrings>
    <add name="ConnectionString" connectionString="Initial Catalog=SIEDB;Data Source=(local)\SQLEXPRESS;User ID=UsuarioSIE;Password=Password01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Configuracion de impresora de Recepcion de ganado-->
    <add key="ImpresoraRecepcionGanado" value="PrimoPDF" />
    <add key="MaxCaracteresLinea" value="40" />
    <add key="NombreFuente" value="Lucida Console" />
    <!--Configuracion Bascula Recepcion de ganado-->
    <add key="PuertoBascula" value="COM3" />
    <!--Configuracion Directorio Activo-->
    <add key="Dominio" value="gviz" />
    <add key="Contenedor" value="DC=gviz, DC=com" />
    <add key="GrupoAD" value="SIAP" />
    <!--<add key="ServidorActiveDirectory" value="DCPCLN2" />-->
    <add key="ServidorActiveDirectory" value="DCMON02" />

    <!--Bandera que habilita el logueo de informacion-->
    <add key="LoggerInfo" value="false" />
    <add key="Produccion" value="false" />
    <add key="RutaConfiguracion" value="C:\SIAP"/>
    <add key="CarpetaConfiguracion" value="\SIAP"/>
    <add key="ArchivoConfiguracion" value="\Configuracion.xml"/>

    <!--Version del Sistema-->
    <add key="VersionSistema" value="0.9" />
    <!--Numero de dias para pintar en rojo los registros del grid-->
    <add key="numDiasEntradaParaCorte" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--Segundos para capturar el peso de la bascula-->
    <add key="segundosCapturaPeso" value="3"/>
    <!--Codigo que permite seleccionarse cuando el ganado trae temperatura-->
    <add key="codigoTratamientoTemperatura" value="26"/>
    <!--Valor que permite determinar si un animal tiene temperatura-->
    <add key="temperaturaAnimal" value="37.5"/>
    <!--Diferencia de ganado aceptable para empezar a alertar que se 
        esta llegando a limite de la capacidad del corral-->
    <add key="diferenciaCapacidadCorral" value="5"/>
    <!--Días que estará habilitado un corral para recibir ganado-->
    <add key="diasHabilCorral" value="7"/>
    <add key="nombreImpresora" value="Microsoft XPS Document Writer"/>
    <add key ="rutaReportes" value="C:\\Users\\APInterfaces\\Desktop\\SuKarne\\SIAP_RecepcionManejo\\Source\\SIE\\SIE.WinForm\\Reporte\\"/>
    <add key ="subFamiliaProductosReimplante" value="11"/>
  </appSettings>
  <log4net>
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="SIELog.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header - SIAP Internal Logger]&#xD;&#xA;" />
        <footer value="[Footer - SIAP Internal Logger]&#xD;&#xA;" />
        <conversionPattern value="%thread - %date %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="GeneralLog" />
    </root>
    <logger name="SIELog">
      <level value="ALL" />
      <appender-ref ref="GeneralLog" />
    </logger>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <SIE.WinForm.Properties.Settings>
      <setting name="numDiasEntradaParaCorte" serializeAs="String">
        <value>3</value>
      </setting>
    </SIE.WinForm.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>