<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Seguridad/Login.aspx"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule"/>
      <add name="BundleModule" type="System.Web.Optimization.BundleModule"/>
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Initial Catalog=SIAP;Data Source=SRV-SIAPDQ;User ID=UsuarioSIE;Password=Password01" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Initial Catalog=SIAP;Data Source=192.168.81.159;User ID=UsuarioSIE;Password=Password01" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=SIAP;Data Source=SRV-SIAPDB;User ID=usrsiap;Password=5y5S1aPpprod" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=SIAP;Data Source=SRV-ENGDQ;User ID=UsuarioSIE;Password=Password12" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=SIAP_dev;Data Source=srv-siedq\sqlexpress;User ID=UsuarioSIE;Password=Password01" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=SIEDB;Data Source=(local)\SQLEXPRESS;User ID=UsuarioSIE;Password=Password01" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Initial Catalog=SIAP;Data Source=192.168.1.245;User ID=sa;Password=Pa$$w0rd" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--<namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>-->
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="20">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <appSettings>
    <add key="OrganizacionID" value="4"/>
    <add key="UsuarioID" value="1"/>
    <add key="FormularioEnfermeria" value="19"/>
    <add key="FormularioEntradaGanado" value="20"/>
    <add key="ConsecutivoVersion" value="1"/>
    <add key="version" value="V 1.0"/>
    <!--Llaves para autentificacion del arctive directory-->
    <add key="Produccion" value="false"/>
    <add key="Dominio" value="gviz"/>
    <add key="Contenedor" value="DC=gviz, DC=com"/>
    <add key="GrupoAD" value="SIAP"/>
    <add key="ServidorActiveDirectory" value="DCPCLN2"/>
    <add key="LimiteMuestrasForraje" value="15"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>