USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[RepartoAlimentoDetalle_Actualizar]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[RepartoAlimentoDetalle_Actualizar]
GO
/****** Object:  StoredProcedure [dbo].[RepartoAlimentoDetalle_Actualizar]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : Jorge Luis Velazquez Araujo
-- Create date: 14/07/2014 12:00:00 a.m.
-- Description: 
-- SpName     : RepartoAlimentoDetalle_Actualizar
--======================================================
CREATE PROCEDURE [dbo].[RepartoAlimentoDetalle_Actualizar]
@RepartoAlimentoDetalleID int,
@RepartoAlimentoID int,
@FolioReparto int,
@FormulaIDRacion int,
@Tolva varchar(10),
@KilosEmbarcados int,
@KilosRepartidos int,
@Sobrante int,
@PesoFinal int,
@CorralIDInicio int,
@CorralIDFinal int,
@HoraRepartoInicio varchar(5),
@HoraRepartoFinal varchar(5),
@Observaciones varchar(255),
@Activo bit,
@UsuarioCreacionID int
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE RepartoAlimentoDetalle SET
		RepartoAlimentoID = @RepartoAlimentoID,
		FolioReparto = @FolioReparto,
		FormulaIDRacion = @FormulaIDRacion,
		Tolva = @Tolva,
		KilosEmbarcados = @KilosEmbarcados,
		KilosRepartidos = @KilosRepartidos,
		Sobrante = @Sobrante,
		PesoFinal = @PesoFinal,
		CorralIDInicio = @CorralIDInicio,
		CorralIDFinal = @CorralIDFinal,
		HoraRepartoInicio = @HoraRepartoInicio,
		HoraRepartoFinal = @HoraRepartoFinal,
		Observaciones = @Observaciones,
		Activo = @Activo,
		UsuarioCreacionID = @UsuarioCreacionID,
		FechaModificacion = GETDATE()
	WHERE RepartoAlimentoDetalleID = @RepartoAlimentoDetalleID
	SET NOCOUNT OFF;
END

GO
