USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[TipoEmbarque_ObtenerPorPagina]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[TipoEmbarque_ObtenerPorPagina]
GO
/****** Object:  StoredProcedure [dbo].[TipoEmbarque_ObtenerPorPagina]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : José Gilberto Quintero López
-- Create date: 27/01/2014 12:00:00 a.m.
-- Description: 
-- SpName     : TipoEmbarque_ObtenerPorPagina
--======================================================
CREATE PROCEDURE [dbo].[TipoEmbarque_ObtenerPorPagina]
@TipoEmbarqueID int,
@Descripcion varchar(50),
@Activo BIT,
@Inicio INT,
@Limite INT 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		ROW_NUMBER() OVER (ORDER BY Descripcion ASC) AS [RowNum],
		TipoEmbarqueID,
		Descripcion,
		Activo
	INTO #TipoEmbarque
	FROM TipoEmbarque
	WHERE (Descripcion like '%' + @Descripcion + '%' OR @Descripcion = '') 
	AND Activo = @Activo
	SELECT
		TipoEmbarqueID,
		Descripcion,
		Activo
	FROM #TipoEmbarque
	WHERE RowNum BETWEEN @Inicio AND @Limite
	SELECT
	COUNT(TipoEmbarqueID) AS [TotalReg]
	FROM #TipoEmbarque
	DROP TABLE #TipoEmbarque
	SET NOCOUNT OFF;
END

GO
