USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[TipoEmbarque_ObtenerPorID]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[TipoEmbarque_ObtenerPorID]
GO
/****** Object:  StoredProcedure [dbo].[TipoEmbarque_ObtenerPorID]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : José Gilberto Quintero López
-- Create date: 27/01/2014 12:00:00 a.m.
-- Description: 
-- SpName     : TipoEmbarque_ObtenerPorID
--======================================================
CREATE PROCEDURE [dbo].[TipoEmbarque_ObtenerPorID]
@TipoEmbarqueID int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		TipoEmbarqueID,
		Descripcion,
		Activo
	FROM TipoEmbarque
	WHERE TipoEmbarqueID = @TipoEmbarqueID
	SET NOCOUNT OFF;
END

GO
