USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[TipoFormula_ObtenerPorPagina]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[TipoFormula_ObtenerPorPagina]
GO
/****** Object:  StoredProcedure [dbo].[TipoFormula_ObtenerPorPagina]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : Gilberto Julián Carranza Castro
-- Create date: 04/03/2014 12:00:00 a.m.
-- Description: 
-- SpName     : TipoFormula_ObtenerPorPagina
--======================================================
CREATE PROCEDURE [dbo].[TipoFormula_ObtenerPorPagina]
@TipoFormulaID int,
@Descripcion varchar(50),
@Activo BIT,
@Inicio INT,
@Limite INT 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		ROW_NUMBER() OVER (ORDER BY Descripcion ASC) AS [RowNum],
		TipoFormulaID,
		Descripcion,
		Activo
	INTO #TipoFormula
	FROM TipoFormula
	WHERE (Descripcion like '%' + @Descripcion + '%' OR @Descripcion = '') 
	AND Activo = @Activo
	SELECT
		TipoFormulaID,
		Descripcion,
		Activo
	FROM #TipoFormula
	WHERE RowNum BETWEEN @Inicio AND @Limite
	SELECT
	COUNT(TipoFormulaID) AS [TotalReg]
	FROM #TipoFormula
	DROP TABLE #TipoFormula
	SET NOCOUNT OFF;
END

GO
