


<table id="tableContainer"  class="table table-striped table-advance table-hover ">
    <thead class="fixedHeader">
        <th class="alineacionCentro" scope="col" style="width:10%">{$T.Recursos.Corral}</th>
        <th class="alineacionCentro" scope="col" style="width:15%">{$T.Recursos.NoArete}</th>
        <th class="alineacionCentro" scope="col" style="width:15%">{$T.Recursos.AreteTestigo}</th>
        <th class="alineacionCentro" scope="col" style="width:10%">{$T.Recursos.FechaDeteccion}</th>
        <th class="alineacionCentro" scope="col" style="width:10%">{$T.Recursos.HoraDeteccion}</th>
        <th class="alineacionCentro" scope="col" style="width:25%">{$T.Recursos.Detector}</th>
        <th class="alineacionCentro" scope="col" style="width:5%">{$T.Recursos.Acciones}</th>
    </thead>
    <tbody class="scrollContent">
        {#foreach $T.Muertes as item}
        <tr class="{#cycle values=['','odd']}" 
            data-CorralCodigo="{$T.item.CorralCodigo}" 
            data-Arete="{$T.item.Arete}" 
            data-FechaDeteccion="{$T.item.FechaDeteccion.toString()}" 
            data-OperadorDeteccionInfo="{$T.item.OperadorDeteccionInfo}" 
            data-OperadorRecoleccionInfo="{$T.item.OperadorRecoleccionInfo}" 
            data-MuerteId="{$T.item.MuerteId}" >
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:10%">{$T.item.CorralCodigo}
            </td>
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:15%">{$T.item.Arete}
            </td>
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:15%">{$T.item.AreteMetalico}
            </td>
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:10%">{$T.item.FechaDeteccionString}
            </td>
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:10%">{$T.item.HoraDeteccionString}
            </td>
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:25%">{$T.item.OperadorDeteccionInfo.Nombre}
            </td>
            <td class="alineacionCentro tabs-right columnaGridSalidaPorMuerte" style="width:5%">
                <img id="Img1" 
                     src="../Images/no.png" 
                    width="16" height="16"
                     alt="Editar" 
                     title="Editar" 
                     aria-disabled="False" 
                     class="btn" 
                     onclick="SelecionaEditar('{$T.item.MuerteId}',
                            '{$T.item.Arete.toString()}',
                            '{$T.item.AreteMetalico.toString()}',
                            '{$T.item.OperadorDeteccionInfo.Nombre}',
                            '{$T.item.CorralCodigo}',
                            '{$T.item.OperadorRecoleccionInfo.Nombre}' )" />
            </td>
        </tr>
        {#/for}
    </tbody>
</table>


