<table id="GridTickets" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th class="alineacionCentro" scope="col">{$T.Recursos.Id}</th>
            <th class="alineacionCentro" scope="col">{$T.Recursos.Descripcion}</th>
        </tr>
    </thead>
    <tbody>
        {#foreach $T.Tickets as item}
        <tr>
            <td class="columnaID alineacionCentro">
                {$T.item.Ticket}
            </td>
            <td class="alineacionCentro">
                {$T.item.Descripcion}
            </td>
        </tr>
        {#/for}
    </tbody>
</table>