USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[GrupoCorral_ObtenerTodos]    Script Date: 15/10/2015 09:31:44 a.m. ******/
DROP PROCEDURE [dbo].[GrupoCorral_ObtenerTodos]
GO
/****** Object:  StoredProcedure [dbo].[GrupoCorral_ObtenerTodos]    Script Date: 15/10/2015 09:31:44 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : Ramses Santos
-- Create date: 02/04/2014
-- Description: Obtiene el listado de todos los Grupos De Corral
-- SpName     : GrupoCorral_ObtenerTodos
--======================================================
CREATE PROCEDURE [dbo].[GrupoCorral_ObtenerTodos]
@Activo BIT = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		GrupoCorralID,
		Descripcion,
		Activo
	FROM GrupoCorral
	WHERE Activo = @Activo OR @Activo IS NULL
	SET NOCOUNT OFF;
END

GO
