USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[TipoCorral_ObtenerTodos]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[TipoCorral_ObtenerTodos]
GO
/****** Object:  StoredProcedure [dbo].[TipoCorral_ObtenerTodos]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : José Gilberto Quintero López
-- Create date: 16/01/2014 12:00:00 a.m.
-- Description: 
-- SpName     : TipoCorral_ObtenerTodos
--======================================================
CREATE PROCEDURE [dbo].[TipoCorral_ObtenerTodos]
@Activo BIT = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		TipoCorralID,
		Descripcion,
		Activo
	FROM TipoCorral
	WHERE Activo = @Activo OR @Activo IS NULL
	SET NOCOUNT OFF;
END

GO
