USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[SALIDASCENTROSSIAP]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[SALIDASCENTROSSIAP]
GO
/****** Object:  StoredProcedure [dbo].[SALIDASCENTROSSIAP]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SALIDASCENTROSSIAP]
AS
BEGIN

IF ((SELECT OBJECT_ID('TEMPDB..#SALIDASCENTROS')) IS NOT NULL)
	DROP TABLE #SALIDASCENTROS

CREATE TABLE #SALIDASCENTROS 
(
	ORGANIZACIONID			INT,
	SALIDAID				INT,
	EMBARQUESALIDAID		INT,
	ORGANIZACIONDESTINOID	INT,
	CABEZAS					INT,
	CABEZASANIMAL			INT	DEFAULT 0,
	IMPORTEANIMAL			INT DEFAULT 0,
	CABEZASCOSTO			INT	DEFAULT 0,
	IMPORTECOSTO			INT DEFAULT 0,
	CORRECTO				BIT DEFAULT 0
)

INSERT INTO #SALIDASCENTROS (ORGANIZACIONID, SALIDAID, EMBARQUESALIDAID, ORGANIZACIONDESTINOID, CABEZAS)
SELECT 
      CES.ORGANIZACIONID
    , CES.FOLIOCENTRO
	, CES.EMBARQUESALIDAID
    , CE.ORGANIZACIONDESTINOID
    , CES.CABEZAS
FROM SUKARNE.DBO.CACEMBARQUESALIDA CES
INNER JOIN ORGANIZACION O
    ON O.ORGANIZACIONID = CES.ORGANIZACIONID
INNER JOIN SUKARNE.DBO.CACEMBARQUE CE 
    ON CE.ORGANIZACIONID = CES.ORGANIZACIONID AND CE.EMBARQUEID = CES.EMBARQUEID
INNER JOIN ORGANIZACION OD
	ON OD.ORGANIZACIONID = CE.ORGANIZACIONDESTINOID
LEFT JOIN INTERFACESALIDA ISA
    ON ISA.ORGANIZACIONID = CES.ORGANIZACIONID AND ISA.SALIDAID = CES.FOLIOCENTRO
WHERE 1=1
    AND O.TIPOORGANIZACIONID != 2
	AND OD.TIPOORGANIZACIONID = 2
    AND ISA.SALIDAID IS NULL

--SELECT *
UPDATE 
	#SALIDASCENTROS
SET 
	CABEZASANIMAL = B.CABEZASANIMAL,
	IMPORTEANIMAL = B.COSTOANIMALES,
	CABEZASCOSTO  = B.CABEZASCOSTO,
	IMPORTECOSTO  = B.IMPORTEANIMALES		
FROM #SALIDASCENTROS A
INNER JOIN (
	SELECT 
		SC.ORGANIZACIONID
		, SC.SALIDAID
		, SC.EMBARQUESALIDAID
		, SC.ORGANIZACIONDESTINOID
		, SC.CABEZAS
		, ISNULL(COUNT(CA.ANIMALID), 0) AS CABEZASANIMAL
		, ISNULL(SUM(CA.IMPORTE), 0) AS COSTOANIMALES
		, ISNULL(COUNT(CAC.ANIMALCOSTOID), 0) AS CABEZASCOSTO
		, ISNULL(SUM(CAC.IMPORTE), 0) AS IMPORTEANIMALES
	FROM #SALIDASCENTROS SC
	INNER JOIN SUKARNE.DBO.CACEMBARQUEARETE CEA
		ON CEA.ORGANIZACIONID = SC.ORGANIZACIONID AND CEA.EMBARQUESALIDAID = SC.EMBARQUESALIDAID
	INNER JOIN SUKARNE.DBO.CATANIMAL CA
		ON CA.ORGANIZACIONID = CEA.ORGANIZACIONID AND CA.ARETEMETALICO = CEA.ARETESUKARNE
	LEFT JOIN SUKARNE.DBO.CACANIMALCOSTO CAC
		ON CAC.ORGANIZACIONID = CA.ORGANIZACIONID AND CAC.ANIMALID = CA.ANIMALID AND CAC.COSTOID = 1 AND CAC.IMPORTE > 0
	GROUP BY 	
		SC.ORGANIZACIONID
		, SC.SALIDAID
		, SC.EMBARQUESALIDAID
		, SC.ORGANIZACIONDESTINOID
		, SC.CABEZAS
			) B
				ON B.ORGANIZACIONID = A.ORGANIZACIONID AND B.SALIDAID = A.SALIDAID AND B.EMBARQUESALIDAID = A.EMBARQUESALIDAID

UPDATE
	#SALIDASCENTROS
SET 
	CORRECTO = 1
WHERE 
	CABEZAS = CABEZASANIMAL AND CABEZAS = CABEZASCOSTO AND IMPORTEANIMAL = IMPORTECOSTO

SELECT *
FROM #SALIDASCENTROS

BEGIN TRY

	BEGIN TRANSACTION

	INSERT INTO INTERFACESALIDA 
		(ORGANIZACIONID, SALIDAID, ORGANIZACIONDESTINOID, FECHASALIDA, ESRUTEO, CABEZAS, ACTIVO, FECHAREGISTRO, USUARIOREGISTRO)
	SELECT 
	      CES.ORGANIZACIONID
	    , CES.FOLIOCENTRO
	    , CE.ORGANIZACIONDESTINOID
	    , CES.FECHACREACION
	    , CASE CE.FOLIORUTEO WHEN 0 THEN 0 ELSE 1 END
	    , CES.CABEZAS
		, CE.ACTIVO
	    , CES.FECHACREACION
	    , CES.USUARIOCREACIONID
	FROM SUKARNE.DBO.CACEMBARQUESALIDA CES
	INNER JOIN #SALIDASCENTROS SC
		ON SC.ORGANIZACIONID = CES.ORGANIZACIONID AND SC.SALIDAID = CES.FOLIOCENTRO AND SC.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN ORGANIZACION O
	    ON O.ORGANIZACIONID = CES.ORGANIZACIONID
	INNER JOIN SUKARNE.DBO.CACEMBARQUE CE 
	    ON CE.ORGANIZACIONID = CES.ORGANIZACIONID AND CE.EMBARQUEID = CES.EMBARQUEID
	INNER JOIN ORGANIZACION OD
		ON OD.ORGANIZACIONID = CE.ORGANIZACIONDESTINOID
	LEFT JOIN INTERFACESALIDA ISA
	    ON ISA.ORGANIZACIONID = CES.ORGANIZACIONID AND ISA.SALIDAID = CES.FOLIOCENTRO
	WHERE 1=1
	    AND O.TIPOORGANIZACIONID != 2
		AND OD.TIPOORGANIZACIONID = 2
		AND SC.CORRECTO = 1
	    AND ISA.SALIDAID IS NULL
	
	INSERT INTO INTERFACESALIDADETALLE
		(ORGANIZACIONID, SALIDAID, TIPOGANADOID, CABEZAS, PRECIOKG, IMPORTE, FECHAREGISTRO, USUARIOREGISTRO)
	SELECT 
		CES.ORGANIZACIONID
		, CES.FOLIOCENTRO
		, CEA.TIPOGANADOID
		, COUNT(1)
		, ROUND(AVG(CA.PRECIOCOMPRA), 2)
		, SUM(CA.IMPORTE)
		, CES.FECHACREACION
		, CES.USUARIOCREACIONID
	FROM SUKARNE.DBO.CACEMBARQUESALIDA CES
	INNER JOIN #SALIDASCENTROS SC
		ON SC.ORGANIZACIONID = CES.ORGANIZACIONID AND SC.SALIDAID = CES.FOLIOCENTRO AND SC.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN ORGANIZACION O
	    ON O.ORGANIZACIONID = CES.ORGANIZACIONID
	INNER JOIN SUKARNE.DBO.CACEMBARQUE CE 
	    ON CE.ORGANIZACIONID = CES.ORGANIZACIONID AND CE.EMBARQUEID = CES.EMBARQUEID
	INNER JOIN ORGANIZACION OD
		ON OD.ORGANIZACIONID = CE.ORGANIZACIONDESTINOID
	INNER JOIN SUKARNE.DBO.CACEMBARQUEARETE CEA 
	    ON CEA.ORGANIZACIONID = CES.ORGANIZACIONID AND CEA.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN SUKARNE.DBO.CATANIMAL CA 
	    ON CEA.ORGANIZACIONID = CA.ORGANIZACIONID AND CEA.ARETENACIONAL = CA.ARETE
	LEFT JOIN INTERFACESALIDADETALLE ISD
	    ON ISD.ORGANIZACIONID = CES.ORGANIZACIONID AND ISD.SALIDAID = CES.FOLIOCENTRO
	WHERE 1=1
	    AND O.TIPOORGANIZACIONID != 2
		AND OD.TIPOORGANIZACIONID = 2
		AND SC.CORRECTO = 1
	    AND ISD.SALIDAID IS NULL
	GROUP BY CES.ORGANIZACIONID, CES.FOLIOCENTRO, CEA.TIPOGANADOID, CES.FECHACREACION, CES.USUARIOCREACIONID
	
	INSERT INTO INTERFACESALIDAANIMAL 
		(ORGANIZACIONID, SALIDAID, ARETE, FECHACOMPRA, PESOCOMPRA, TIPOGANADOID, PESOORIGEN, FECHAREGISTRO, USUARIOREGISTRO, ARETEMETALICO)
	SELECT 
		CES.ORGANIZACIONID
		, CES.FOLIOCENTRO
		, CA.ARETE
		, CA.FECHACOMPRA
		, CA.PESOCOMPRA
		, CEA.TIPOGANADOID
		, CA.PESOCOMPRA
		, CES.FECHACREACION
		, CES.USUARIOCREACIONID
		, CA.ARETEMETALICO
	FROM SUKARNE.DBO.CACEMBARQUESALIDA CES
	INNER JOIN #SALIDASCENTROS SC
		ON SC.ORGANIZACIONID = CES.ORGANIZACIONID AND SC.SALIDAID = CES.FOLIOCENTRO AND SC.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN ORGANIZACION O
	    ON O.ORGANIZACIONID = CES.ORGANIZACIONID
	INNER JOIN SUKARNE.DBO.CACEMBARQUE CE 
	    ON CE.ORGANIZACIONID = CES.ORGANIZACIONID AND CE.EMBARQUEID = CES.EMBARQUEID
	INNER JOIN ORGANIZACION OD
		ON OD.ORGANIZACIONID = CE.ORGANIZACIONDESTINOID
	INNER JOIN SUKARNE.DBO.CACEMBARQUEARETE CEA 
	    ON CEA.ORGANIZACIONID = CES.ORGANIZACIONID AND CEA.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN SUKARNE.DBO.CATANIMAL CA 
	    ON CEA.ORGANIZACIONID = CA.ORGANIZACIONID AND CEA.ARETENACIONAL = CA.ARETE
	LEFT JOIN INTERFACESALIDAANIMAL ISA 
	    ON ISA.ORGANIZACIONID = CES.ORGANIZACIONID AND ISA.SALIDAID = CES.FOLIOCENTRO 
	WHERE 1=1
	    AND O.TIPOORGANIZACIONID != 2 
		AND OD.TIPOORGANIZACIONID = 2
		AND SC.CORRECTO = 1
	    AND ISA.SALIDAID IS NULL
	
	INSERT INTO INTERFACESALIDACOSTO
		(ORGANIZACIONID, SALIDAID, ARETE, FECHACOMPRA, COSTOID, IMPORTE, FECHAREGISTRO, USUARIOREGISTRO)
	SELECT CES.ORGANIZACIONID, CES.FOLIOCENTRO, CA.ARETE, CA.FECHACOMPRA, CAC.COSTOID, ROUND(SUM(CAC.IMPORTE),2) AS IMPORTE, CES.FECHACREACION, CES.USUARIOCREACIONID
	FROM SUKARNE.DBO.CACEMBARQUESALIDA CES
	INNER JOIN #SALIDASCENTROS SC
		ON SC.ORGANIZACIONID = CES.ORGANIZACIONID AND SC.SALIDAID = CES.FOLIOCENTRO AND SC.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN ORGANIZACION O
	    ON O.ORGANIZACIONID = CES.ORGANIZACIONID
	INNER JOIN SUKARNE.DBO.CACEMBARQUE CE 
	    ON CE.ORGANIZACIONID = CES.ORGANIZACIONID AND CE.EMBARQUEID = CES.EMBARQUEID
	INNER JOIN ORGANIZACION OD
		ON OD.ORGANIZACIONID = CE.ORGANIZACIONDESTINOID
	INNER JOIN SUKARNE.DBO.CACEMBARQUEARETE CEA 
	    ON CEA.ORGANIZACIONID = CES.ORGANIZACIONID AND CEA.EMBARQUESALIDAID = CES.EMBARQUESALIDAID
	INNER JOIN SUKARNE.DBO.CATANIMAL CA 
	    ON CEA.ORGANIZACIONID = CA.ORGANIZACIONID AND CEA.ARETENACIONAL = CA.ARETE
	INNER JOIN SUKARNE.DBO.CACANIMALCOSTO CAC
	    ON CAC.ORGANIZACIONID = CA.ORGANIZACIONID AND CAC.ANIMALID = CA.ANIMALID
	LEFT JOIN INTERFACESALIDACOSTO ISC
	    ON ISC.ORGANIZACIONID = CES.ORGANIZACIONID AND ISC.SALIDAID = CES.FOLIOCENTRO AND ISC.COSTOID = CAC.COSTOID
	WHERE 1=1
	    AND O.TIPOORGANIZACIONID != 2
	    AND OD.TIPOORGANIZACIONID = 2
		AND SC.CORRECTO = 1
		AND ISC.SALIDAID IS NULL    
	GROUP BY 
	    CES.ORGANIZACIONID, CES.FOLIOCENTRO, CA.ARETE, CA.FECHACOMPRA, CAC.COSTOID, CES.FECHACREACION, CES.USUARIOCREACIONID

		COMMIT TRANSACTION

END TRY

BEGIN CATCH

	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	
	SELECT ERROR_MESSAGE() AS ERRORMESSAGE

END CATCH
END
GO
