USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[Trampa_ObtenerTodos]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[Trampa_ObtenerTodos]
GO
/****** Object:  StoredProcedure [dbo].[Trampa_ObtenerTodos]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================================
-- Author     : José Gilberto Quintero López
-- Create date: 05/03/2014 12:00:00 a.m.
-- Description: 
-- SpName     : Trampa_ObtenerTodos
--======================================================
CREATE PROCEDURE [dbo].[Trampa_ObtenerTodos]
@Activo BIT = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		TrampaID,
		Descripcion,
		OrganizacionID,
		TipoTrampa,
		HostName,
		Activo
	FROM Trampa
	WHERE Activo = @Activo OR @Activo IS NULL
	SET NOCOUNT OFF;
END

GO
