USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[ScriptManager]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[ScriptManager]
GO
/****** Object:  StoredProcedure [dbo].[ScriptManager]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ScriptManager] As EXEC Util_ConsultaAretesCent   '199' ,'486' ,'1' 
GO
