USE [SIAP]
GO
/****** Object:  StoredProcedure [dbo].[SP_EspacioTablas]    Script Date: 15/10/2015 09:31:43 a.m. ******/
DROP PROCEDURE [dbo].[SP_EspacioTablas]
GO
/****** Object:  StoredProcedure [dbo].[SP_EspacioTablas]    Script Date: 15/10/2015 09:31:45 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_EspacioTablas]
as

begin
SELECT TOP 1000
			(row_number() over(order by (a1.reserved + ISNULL(a4.reserved,0)) desc))%2 as l1,
			a3.name AS [schemaname],
			a2.name AS [tablename],
			a1.rows as [# Registros],
			((a1.reserved + ISNULL(a4.reserved,0))* 8)/1024  AS [Reservado MB],
			--(a1.data) * 8)/1024 AS [Datos MB],
			round(convert(money,((a1.data*1.0) * 8)/1024,1),2) AS [Datos MB],
			--(CASE WHEN (a1.used + ISNULL(a4.used,0)) > a1.data THEN (a1.used + ISNULL(a4.used,0)) - a1.data ELSE 0 END) * 8 AS [Index_Size MB],
			round(convert(money,((CASE WHEN (a1.used + ISNULL(a4.used,0)) > a1.data THEN ((a1.used*1.0) + ISNULL(a4.used,0)) - a1.data ELSE 0 END) * 8)/1024,1),2) AS [Index_Size MB],
			--(CASE WHEN (a1.reserved + ISNULL(a4.reserved,0)) > a1.used THEN (a1.reserved + ISNULL(a4.reserved,0)) - a1.used ELSE 0 END) * 8 AS unused
			round(convert(money,((CASE WHEN (a1.reserved + ISNULL(a4.reserved,0)) > a1.used THEN ((a1.reserved*1.0) + ISNULL(a4.reserved,0)) - a1.used ELSE 0 END)  * 8)/1024,1),2) AS [No Utilizado MB]
			FROM
			(SELECT
			ps.object_id,
			SUM (
			CASE
			WHEN (ps.index_id < 2) THEN row_count
			ELSE 0
			END
			) AS [rows],
			SUM (ps.reserved_page_count) AS reserved,
			SUM (
			CASE
			WHEN (ps.index_id < 2) THEN (ps.in_row_data_page_count + ps.lob_used_page_count + ps.row_overflow_used_page_count)
			ELSE (ps.lob_used_page_count + ps.row_overflow_used_page_count)
			END
			) AS data,
			SUM (ps.used_page_count) AS used
			FROM sys.dm_db_partition_stats ps
			GROUP BY ps.object_id) AS a1
			LEFT OUTER JOIN
			(SELECT
			it.parent_id,
			SUM(ps.reserved_page_count) AS reserved,
			SUM(ps.used_page_count) AS used
			FROM sys.dm_db_partition_stats ps
			INNER JOIN sys.internal_tables it ON (it.object_id = ps.object_id)
			WHERE it.internal_type IN (202,204)
			GROUP BY it.parent_id) AS a4 ON (a4.parent_id = a1.object_id)
			INNER JOIN sys.all_objects a2  ON ( a1.object_id = a2.object_id )
			INNER JOIN sys.schemas a3 ON (a2.schema_id = a3.schema_id)
			WHERE a2.type <> N'S' and a2.type <> N'IT'

end			
return (0)


GO
