<fieldset class="scheduler-border">
    <legend class="scheduler-border">
        <span ID="Label4">{$T.Recursos.Leyenda}</span>
    </legend>
    <div class="span12">
        <span class="span6">
            <span class="requerido">*</span>
            <span>{$T.Recursos.Tipo}</span>
            <input type="number" id="txtID" min="0"  class="span2 soloNumeros textoDerecha" />
            <input type="text" id="txtDescripcion" class="span7" disabled="disabled" />
            <a href="#" data-toggle="modal" id="btnAyudaProductos" tabindex="-2">
                <img src="../Images/find.png" width="26" height="26"/>
            </a>
        </span>
        <span class="span6">
            <span>{$T.Recursos.SubFamilia}</span>
            <input id="txtSubFamilia" type="text" class="span8" />
        </span>                                
    </div>
</fieldset>
